:root {
  --bgColor: #404040;
  --color: white;
}

.site-header {
  background: var(--bgColor);
  color: var(--color);

  a {
    color: var(--color);
    text-decoration: none;

    &:hover {
    }
  }
}