:root {
  --bgColor: #404040;
  --color: white;
}

@custom-media --expanded-nav (min-width: 60em);

.site-header {
  background: var(--bgColor);
  color: var(--color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;

  @media (--expanded-nav) {
    padding: 1.25em 2.5em;
  }

  & a {
    color: var(--color);
    text-decoration: none;

    &:hover {
    }
  }
}

.branding {
  display: flex;
  flex-direction: row;
  align-items: center;

  & img {
    width: 38px;
    height: 36px;
    margin: 0 1em 0 0;
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=2, OffY=2, Color='#444')";
    filter: url(#drop-shadow);
    -webkit-filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));

    @media (--expanded-nav) {
      width: 53px;
      height: 50px;
    }
  }
}

.name-title {
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  @media (--expanded-nav) {
    font-size: 1.1875em;

    & br {
      display: none;
    }
  }

  & strong {
    font-weight: 700;
    letter-spacing: 0.3125em;

    @media (--expanded-nav) {
      letter-spacing: 0.1em;
    }
  }
}

.trigger {
  position: absolute;
  top: -9999px;
  left: -9999px;

  /*
   * Fade in menu from the right
   */
  &:checked ~ .menu {
    transform: translateX(0);
    opacity: 1;
  }

  /*
   * Transform all the slices of hamburger
   * into a crossmark.
   */
  &:checked ~ label > .hamburger > span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);

    /*
     * But let's hide the middle one.
     */
    &:nth-child(2) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }

    /*
     * Ohyeah and the last one should go the other direction
    */
    &:last-child {
      opacity: 1;
      transform: rotate(-45deg) translate(0, -1px);
    }
  }
}

/* @see https://codepen.io/erikterwan/pen/EVzeRP?editors=0100 */
.hamburger span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    opacity 0.55s ease;

  &:last-child {
    transform-origin: 0 100%;
  }
}

.site-nav {
  & label {
    position: relative;
    display: block;
    //min-height: 2em;
    //padding: 0.45em;
    //font-size: 1.1em;
    margin: 0;
    cursor: pointer;
    //background: $tertiaryColor;
    //line-height: 2em;
    //color: lighten($primaryColor,80%);

    /*
    &::after {
      content: "\2261";
      display: block;
      position: absolute;
      right: 1em;
      top: 0.2em;
      font-size: 1.8em;
      /*color: $flex_nav_hotdogsColor;
    }
    */

    @media (--expanded-nav) {
      display: none;
    }
  }
}

/*
 * Make this absolute positioned
 * at the top right of the screen
 */
.menu {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  max-width: 300px;
  margin: 0;
  padding: 52px 0 0;
  background: #cdcdcd;
  list-style-type: none;
  -webkit-font-smoothing: antialiased; /* to stop flickering of text in safari */
  transform-origin: 100% 0;
  transform: translateX(101%);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);

  @media (--expanded-nav) {
    position: static;
    top: auto;
    right: auto;
    padding: 0;
    background: none;
    max-width: initial;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    transform: none;
  }

  & li {
    list-style-type: none;
    margin: 0;
    padding: 0.5em 1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;

    @media (--expanded-nav) {
      margin-left: 4em;
      padding: 0;
      opacity: 0.5;
      transition: opacity 0.3s;

      &:first-child {
        margin-left: 0;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}