:root {
  --kitsuneOrange: #f7991c;
  --kitsuneGray: #808284;
  --kitsuneLightGray: #e6e7e8;
}

@custom-media --expanded-nav (min-width: 60em);
@custom-media --two-column-form (min-width: 33em);

body {
  overflow-x: hidden;
}

.sr-only {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

a {
  color: var(--kitsuneOrange);
  transition: color 0.3s;
  text-decoration: none;
  border-bottom: 1px solid var(--kitsuneOrange);
}

strong {
  font-weight: bold;
}

main section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
  padding: 1.875em 1.5rem 0;
  color: var(--kitsuneGray);

  @media (--expanded-nav) {
    padding: 6.875em 0 0;
  }

  // vertical line "connecting" to previous section
  &::before {
    content: '';
    display: none;
    position: absolute;
    left: 50%;
    top: 0;
    height: 20.33333em;;
    border-left: 2px solid var(--kitsuneLightGray);
    margin-left: -1px;

    @media (--expanded-nav) {
      display: block;
    }
  }

  &:first-child {
    &::before,
    .box::before {
      display: none;
    }
  }

  // vertical line connecting to next section
  &::after {
    content: '';
    display: none;
    width: 2px;
    height: 9.575em;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
    background-color: var(--kitsuneLightGray);

    @media (--expanded-nav) {
      display: block;
    }
  }

  .design-star {
    display: none;

    @media (--expanded-nav) {
      display: block;
    }

    // circle
    &::before {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin: 0 0 -4px 1.5em;
      border-radius: 50%;
      background-color: var(--kitsuneLightGray);
    }

    // right half of bottom border
    &::after {
      content: '';
      display: block;
      width: calc(50% - 1.5em);
      height: 2px;
      position: absolute;
      right: 0;
      bottom: 0;
      background: var(--kitsuneLightGray);
    }
  }

  & h2 {
    font-size: 1.5rem;
    font-weight: 300;

    @media (--expanded-nav) {
      font-size: 2rem;
    }
  }

  & p {
    text-align: justify;
    text-align-last: left;

    @media (--expanded-nav) {
      text-align-last: center;
    }
  }

  & .box {
    position: relative;
    margin: 2em 0 3.625rem;
    padding: 0;
    max-width: 100%;
    font-size: 0.875rem;
    line-height: 1.4775;

    @media (--expanded-nav) {
      max-width: 60rem;
      margin: 12.75em 0 9.575em;
      padding: 3em 3em 1em;
      font-size: 1.05rem;
      border: 2px solid var(--kitsuneLightGray);
      border-bottom-width: 0;
    }

    // icon in circle
    &::before {
      content: '';
      display: block;
      width: 100px;
      height: 100px;
      //margin-top: -244px;
      //margin-bottom: 4em;
      position: absolute;
      top: -108px; //calc(-1 * 30px + 28px + 100px/2); // -1 * section top-padding + .box top-margin + half my height
      left: 50%;
      margin-left: -50px;
      background: var(--kitsuneLightGray) no-repeat center center;
      background-size: 60px;
      border-radius: 50%;

      @media (--expanded-nav) {
        width: 162px;
        height: 162px;
        top: -192px;
        margin-bottom: 4em;
        margin-left: -81px;
        background-size: 89px;
      }
    }

    // left half of bottom border
    &::after {
      content: '';
      display: none;
      width: 50%;
      height: 2px;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: var(--kitsuneLightGray);

      @media (--expanded-nav) {
        display: block;
      }
    }

    & > :last-child {
      margin-bottom: 0;
    }
  }

  & li {
    text-align: left;
    list-style-type: none;
    background: url('../img/bullet--kitsune-logo.png') 0 0 no-repeat;
    min-height: 32px; // height of bullet (background-image)
    padding-left: 50px;
  }

  & .split-list {
    position: relative;
    margin-left: 0;

    @media (--expanded-nav) {
      column-count: 2;
      column-gap: 4em;

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        width: 2px;
        height: 100%;
        background-color: var(--kitsuneLightGray);
        margin-left: -1px;
      }
    }
  }

  & .excerpt {
    margin: 0;
    padding: 2em 0;
    border-style: solid;
    border-color: var(--kitsuneLightGray);
    border-width: 1px 0;

    @media (--expanded-nav) {
      padding: 2em 9em;
    }
  }
}

.services {
  & .box {
    // icon in circle
    &::before {
      background-image: url('../img/graph.svg');
    }
  }

  & .excerpt {
    margin: 3em 0;
  }

  & .uberlist-container {
    margin: 3em 0 0;

    @media (--expanded-nav) {
      display: flex;
      flex-flow: row wrap;

      .uberlist {
        width: 50%;

        &:nth-child(even) {
          padding-left: 2em;
          border-left: 2px solid var(--kitsuneLightGray);
        }

        &:nth-child(odd) {
          padding-right: 2em;
        }
      }
    }
  }

  .next-step {
    font-size: 1.5em;
    font-weight: 300;
    margin: 1em 0;
    padding: 1em 0 0;
    border-top: 1px solid var(--kitsuneLightGray);

    @media (--expanded-nav) {
      font-size: 2em;
    }
  }
}

.team {
  background-color: var(--kitsuneLightGray);
  position: relative;

  .circles {
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image:
        url('../img/circles--black.png'),
        url('../img/circles--black.png'),
        url('../img/circles--dotted--black.png'),
        url('../img/circles--dotted--black.png');
      background-repeat: no-repeat;
      background-size: 90%, 95%, 120%, 115%;
      background-position:
        365px -315px,
        634px 511px,
        -318px -488px,
        -959px 691px;
      opacity: 0.05;
    }
  }

  &::before {
    border-color: white;
  }

  .design-star::before,
  .design-star::after,
  &::after,
  & .box::before,
  & .box::after {
    background-color: white;
  }

  & .box {
    border-color: white;

    // icon in circle
    &::before {
      background-image: url('../img/team.svg');
      background-size: 75px;
      border: 1px solid #e6e7e8;

      @media (--expanded-nav) {
        background-size: 120px;
        border: none;
      }
    }
  }

  .team-carousel {
    margin: 0 -3em 0;
    padding: 0 3em;
    position: relative;

    &::before {
      content: '';
      width: 100%;
      height: 2px;
      background-color: white;
      position: absolute;
      top: 81px; // 162px / 2
      left: 0;
    }
  }
}

.contact {
  &::after {
    display: none;
  }

  & .box {
    width: 100%;
    border-top-width: 0;
    border-bottom-width: 2px;

    @media (--two-column-form) {
      width: auto;
    }

    // icon in circle
    &::before {
      background-image: url('../img/contact.svg');
      background-size: 50px;
      border: 1px solid white;

      @media (--expanded-nav) {
        background-size: 75px;
        border: none;
      }
    }

    // top-right border
    &::after {
      top: 0;
      right: 0;
      bottom: auto;
      left: auto;
    }

    .design-star {
      &::before {
        top: 0;
        bottom: auto;
        left: 50%;
        margin: -4px 0 0 -1.5em;
      }

      &::after {
        top: 0;
        right: auto;
        left: 0;
        bottom: auto;
      }
    }
  }
}
