:root {
  --bio-photo-width: 102px;
  --bio-photo-height: 102px;
  --bio-photo-border-width: 20px;
}

.bios-nav {
  display: none;

  &.unslicked {
    display: none;
  }

  @media only screen and (min-width: 60em) {
    display: block;
  }

  .slick-active.slick-center {
    .bio-photo {
      transform: scale(1.25);

      img {
        opacity: 1;
      }

      &::before {
        background-color: var(--kitsuneOrange);
      }

      &:hover {
        transform: scale(1.25);
      }
    }
  }

  .slick-arrow {
    width: 32px;
    height: 32px;
    background: #fff;
    border-radius: 50%;
    z-index: 9;

    &:hover {
      cursor: pointer;
    }

    &.slick-prev,
    &.slick-next {
      &::before {
        position: relative;
        top: 2px;
        font-size: 32px;
        color: var(--kitsuneOrange);
      }
    }

    &.slick-prev {
      //left: 0;
    }

    &.slick-next {
      //right: 0;
    }
  }

  // photo container
  .bio-photo {
    width: 162px;
    height: 162px;
    margin: 0 auto;
    padding: 30px 0 0 30px;
    position: relative;
    cursor: pointer;
    transition: transform 0.6s ease-in-out;

    &:hover {
      transform: scale(1.1);

      img {
        opacity: 1;
      }
    }

    img {
      width: var(--bio-photo-width); //102px; // .bio-photo width minus (2 * .bio-photo padding-left)
      height: var(--bio-photo-height); //102px; // .bio-photo height minus (2 * .bio-photo padding-top)
      margin: 0;
      border-radius: 50%;
      opacity: 0.75;
      transition: opacity 0.6s ease-in-out;
    }

    // circle backdrop behind photo
    &::before {
      content: '';
      display: block;
      width: calc(var(--bio-photo-width) + var(--bio-photo-border-width)); //122px; // .bio-photo width minus (2 * & left)
      height: calc(var(--bio-photo-height) + var(--bio-photo-border-width)); //122px; // .bio-photo height minus (2 * & top)
      position: absolute;
      top: var(--bio-photo-border-width);
      left: var(--bio-photo-border-width);
      z-index: -1;
      background: #f9f9f9;
      border-radius: 50%;
    }
  }
}

.bios {
  &.unslicked {
    .photo {
      display: block;
      width: 120px;
      height: 120px;
      margin: 0 auto 1rem;
      border-radius: 50%;
      position: relative;
      z-index: 2;
    }
  }
}

.bio {
  padding: 1em 0 0;
  position: relative;

  &::before {
    content: '';
    display: block;
    width: calc(100% + 6em);
    height: 1px;
    background: #fff;
    position: absolute;
    top: calc(1em + 120px / 2); // .bio top padding plus half of .photo height
    left: -3em;
    z-index: 1;
  }

  @media only screen and (min-width: 60em) {
    &::before {
      display: none;
    }
  }

  h3 {
    color: var(--kitsuneOrange);
    margin-bottom: 0;
  }

  h4 {
    color: var(--kitsuneOrange);
    font-size: 1.15rem;
  }

  .photo {
    display: none;
  }
}
