.collapsible-wrapper {
  display: flex;
  overflow: hidden;

  &::after {
    content: '';
    height: 50px;
    transition: height 0.6s linear, max-height 0s 0.6s linear;
    max-height: 0px;
  }

  &.collapsed {
    &::after {
      height: 0;
      transition: height 0.3s linear;
      max-height: 50px;
    }

    & > .collapsible {
      margin-bottom: -2000px;
      transition: margin-bottom 0.6s cubic-bezier(1, 0, 1, 1),
      opacity 0.6s, max-height 0s 0.6s;
      //visibility: hidden;
      opacity: 0;
      max-height: 0;
    }
  }
}

.collapsible {
  transition: margin-bottom 0.6s cubic-bezier(0, 0, 0, 1);
  margin-bottom: 0;
  max-height: 1000000px;
  opacity: 1;
}