@custom-media --two-column-form (min-width: 33em);

#contact-form {
  display: flex;
  flex-flow: column nowrap;
  position: relative;

  .collapsible {
    @media (--two-column-form) {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
  }

  div.form-group {
    position: relative;
    margin: 0 0 1em;

    @media (--two-column-form) {
      width: 49%;
      max-width: 25em;

      &:first-child,
      &:last-of-type {
        width: 100%;
        max-width: initial;//50em;
      }
    }

    input,
    textarea {
      width: 100%;
      line-height: 2.625rem; //3.625rem - 1em (top and bottom padding)
      padding: 0.5em 1em;
      background: var(--kitsuneLightGray);
      border: none;
      outline: none;
    }

    label {
      position: absolute;
      top: 1.04167em;
      left: 1.05rem;
    }

    //input:focus:valid + label,
    input:focus + label,
    textarea:focus + label,
    input:focus:not(.placeholder-shown) + label,
    textarea:focus:not(.placeholder-shown) + label {
      font-size: 0.75em;
      top: 0.25em;
      visibility: visible;
    }

    //input:valid + label,
    input:not(.placeholder-shown) + label,
    textarea:not(.placeholder-shown) + label {
      visibility: hidden;
    }

    &.error {
      .error-message {
        display: block;
      }
    }

    .error-message {
      display: none;
      color: #c00;
    }
  }

  .btn-submit {
    margin: 1rem auto;
  }

  .alert {
    position: absolute;
    opacity: 0;
  }

  &.submitError {
    .alert {
      position: static;
      opacity: 1;
      transition: opacity 0.6s linear;
    }
  }

  &.submitted {
    .contact-thankYou {
      display: block;
      opacity: 1;
      margin-top: 2000px;
    }
  }
}

.contact-thankYou {
  display: none;
  opacity: 0;
  transition: opacity 0.6s;
}