@custom-media --expanded-nav (min-width: 60em);

.headroom-wrapper {
  position: relative;
  height: 52px !important;

  @media (--expanded-nav) {
    height: 90px !important;
  }

  a {
    border-bottom: none;
  }
}